{
	"extends": ["../tests.js"],
	"plugins": ["eslint-plugin-unicorn", "eslint-plugin-import"],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"unicorn/prefer-module": 2,
		"import/no-commonjs": 2
	}
}
