{
	"root": true,
	"extends": ["./index.js", "eslint-config-prettier"],
	"parserOptions": {
		"sourceType": "commonjs"
	},
	"plugins": [
		"eslint-plugin-prettier",
		"eslint-plugin-unicorn",
		"eslint-plugin-import"
	],
	"rules": {
		"prettier/prettier": 1,
		"unicorn/prefer-module": 0,
		"import/no-commonjs": 0
	},
	"ignorePatterns": ["test/fixtures/*.config.*"],
	"overrides": [
		{
			"files": "*.js",
			"rules": {
				"unicorn/prevent-abbreviations": [
					1,
					{
						"allowList": {
							"env": true,
							"props": true,
							"prev": true,
							"ignoreRefs": true
						}
					}
				]
			}
		}
	]
}
