{
	"root": true,
	"extends": ["./index.js", "prettier"],
	"plugins": ["prettier", "unicorn"],
	"rules": {
		"prettier/prettier": 1
	},
	"ignorePatterns": ["test/fixtures/*.config.*"],
	"overrides": [
		{
			"files": "*.js",
			"rules": {
				"unicorn/prevent-abbreviations": [
					1,
					{
						"allowList": {
							"env": true,
							"props": true,
							"prev": true,
							"ignoreRefs": true
						}
					}
				]
			}
		}
	]
}
